body{
    background-color: rgb(0, 9, 19);
    color: white;
}

.navbar{
    background-color: rgb(17, 17, 17);
}

.navbar-brand , .nav-link{
    color: white;
}

.bs-icon {
    --bs-icon-size: 0.75rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: var(--bs-icon-size);
    width: calc(var(--bs-icon-size) * 2);
    height: calc(var(--bs-icon-size) * 2);
    color: var(--bs-primary);
}

.bs-icon-xs {
    --bs-icon-size: 1rem;
    width: calc(var(--bs-icon-size) * 1.5);
    height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
    --bs-icon-size: 1rem;
}

.bs-icon-md {
    --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
    --bs-icon-size: 2rem;
}

.bs-icon-xl {
    --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
    color: var(--bs-white);
    background: var(--bs-link-hover-color);
}

.bs-icon.bs-icon-primary-light {
    color: var(--bs-primary);
    background: rgba(var(--bs-primary-rgb), 0.2);
}

.bs-icon.bs-icon-semi-white {
    color: var(--bs-primary);
    background: rgba(255, 255, 255, 0.5);
}

.bs-icon.bs-icon-rounded {
    border-radius: 0.5rem;
}

.bs-icon.bs-icon-circle {
    border-radius: 50%;
}

.img-nav-logo {
    max-width: 50px;
}

.footer-lol {
    background: #ded9ca;
    margin-top: 9rem;
}


.btn-icons {
    border-radius: 50%;
    background-color: rgb(11, 196, 226);
    border-color: rgb(11, 196, 226);
    color: black;
}

.btn-icons:hover,
.btn-icons:focus {
    background-color: rgb(0, 102, 128);
    border-color: rgb(0, 102, 128);
    box-shadow: none;
    color: black;
}

.fit-cover {
    object-fit: contain;
}

.imgChamp{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.grafics{
    color: yellow;
    text-align: center;
    background-color: #000;
    width: 60px;
    height: 60px;
    border: none;
}

.champion-stat-table{
    color: yellow;
    text-align: center;
    background-color: #000;
    border: none;
    margin: auto;
}

.card{
    --bs-card-border-width: 0px;
    border-radius: 0;
    --bs-card-bg: rgba(255, 255, 255, 0);
}

.nicknameFont{
    display: block;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
    font-family: Alata, sans-serif;
    letter-spacing: 2.4px;
    line-height: 26.4px;
    font-style: italic;
}

.nameFont{
    font-size: 120px;
    line-height: 0.85;
    font-family: Alata, sans-serif;
    font-weight: 800;
    letter-spacing: 0.03em;
    font-style: italic;
    padding: 15px 15px 10px;
}

.card-allData{
    position: relative;
    top: -6.5rem;
    --bs-card-bg: rgba(255,255,255,0);
    margin-bottom: -5rem;
    width: 80%;
}

.imgContainer{
    mask-image: linear-gradient(rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 98%);
    -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 98%);
}

.middleLine{
    width: 1px;
    margin: 1.5rem 0px;
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%;
    transform-origin: center top 0px;
    animation: 400ms cubic-bezier(0.215, 0.61, 0.355, 1) 780ms 1 normal both running izbhlD;
    padding: 0;
}

table{
    border-collapse: separate;
}

.table > :not(caption) > * > *{
    border-bottom-width: 0px;
}